@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    // index page block 1
    .index_block_1{
        .index_block_1_slider{
            .item{min-height: 700px;
                .item-tile{
                    h2{font-size: 52px;}
                }
            }
        }
        .slider-arrow{bottom: 40px;}
    }

    // index block 2
    .index_block_2{
        .mbox{min-height: auto;padding: 75px 0px 90px;
            .title{font-size: 45px;
                h1{font-size: 45px;}
            }
        }
    }

    // contact form
    .contact-form{flex-direction: column;
        .contact-form-row{align-items: center;justify-content: center;align-items: center;justify-content: center;flex-direction: column;}
        .contact-form-item{margin: 0 15px 30px;}
        input,button[type=submit]{width: 260px;}
        button[type=submit]{}
        .errorText{}
    }

}
@media screen and (max-width: 992px){
    // page 3 block 1
    .page3_block_1{padding: 50px 0px;
        .mbox{flex-direction:column;min-height: auto;}
        .title{width: 100%;margin-bottom: 30px;
            h1{font-size: 45px;}
        }
    }

    .page3_form{width: 100%;
        .page3_form_wrap{}
        .contact-form{
            .contact-form-row{}
            .contact-form-item{}
            input,button[type=submit]{}
            button[type=submit]{}
        }
        .contact-form-title{
            h5{}
            span{}
        }
    }


    // page 3 block 4
    .page3_block_4{padding: 50px 0px;
        .mbox{min-height: auto;}
        .page3_description{}
        .title{padding-top: 20px;margin-bottom: 30px;font-size: 39px;
            h2{font-size: 39px;}
        }

        .page3_description{width: 100%;margin-bottom: 20px;
            li{margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    // index page block 1
    .index_block_1{
        .index_block_1_slider{
            .item{min-height: 600px;
                .item-tile{
                    h2{font-size: 42px;}
                }
            }
        }
        .slider-arrow{}
        .slick-dots{bottom: 40px;}
    }

    // index block 2
    .index_block_2{
        .mbox{
            .title{font-size: 35px;
                h1{font-size: 35px;}
            }
        }
    }

    // page 3 block 1
    .page3_block_1{padding: 60px 0px;
        .mbox{flex-direction:column;min-height: auto;}
        .title{width: 100%;margin-bottom: 30px;
            h1{font-size: 30px;}
        }
    }

    .page3_form{width: 100%;
        .page3_form_wrap{padding: 15px 0px 0px;}
        .contact-form,.contact-form-next{
            .contact-form-row{}
            .contact-form-item{}
            input,button[type=submit]{width: 260px;}
            button[type=submit]{}
        }
        .contact-form-title{font-size: 25px;}
    }

    // page 3 block 4
    .page3_block_4{
        .page3_description{}
        .title{
            h2{font-size: 28px;}
        }

        .page3_description{
            li{padding: 22px 25px;min-height: 30px;
                p{font-size: 16px;}
            }
        }
    }
}
@media screen and (max-width: 479px){
        // index page block 1
    .index_block_1{
        .index_block_1_slider{
            .item{min-height: 530px;
                .item-tile{
                    h2{font-size: 30px;}
                }
            }
        }
        .slider-arrow{display: none;}
        .slick-dots{    justify-content: center;}
    }

    // index block 2
    .index_block_2{
        .mbox{padding: 45px 0px 50px;
            .title{font-size: 30px;padding: 0 5px;
                h1{font-size: 30px;}
            }
        }
    }

    // page 3 block 1
    .page3_block_1{
        .title{padding-top: 20px;}
    }
}
@media screen and (max-width: 320px){

}