@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    // index page block 1
    .index_block_1{
        .index_block_1_slider{
            .item{min-height: 700px;
                &.item-2{align-items: center;justify-content: center;
                    .item-tile{text-align: center;}
                }
                .item-tile{
                    h2{font-size: 52px;}
                }
            }
        }
        .slider-arrow{bottom: 40px;}
    }

    // index block 2
    .index_block_2{
        .mbox{min-height: auto;padding: 75px 0px 90px;
            .title{font-size: 45px;
                h1{font-size: 45px;}
            }
        }
    }

    // contact form
    .contact-form{flex-direction: column;
        .contact-form-row{align-items: center;justify-content: center;align-items: center;justify-content: center;flex-direction: column;}
        .contact-form-item{margin: 0 15px 30px;}
        input,button[type=submit]{width: 260px;}
    }

    // p4b1
    .p4b1{padding-top: 60px;border-top:1px solid #9b1915;
        .title{font-size: 33px;margin-bottom: 30px;}
        .items_wrap{
            .item{padding-top: 15px;margin-bottom: 15px;
                .item-title{font-size: 16px;}
                .item-text{font-size: 14px;line-height: 18px;}
            }
        }
        .button_show_more{display: block;margin-bottom: 30px;}
    }
    .paginator{display: none;}


}
@media screen and (max-width: 992px){
    // page 3 block 1
    .page3_block_1{padding: 50px 0px;
        .mbox{flex-direction:column;min-height: auto;}
        .title{width: 100%;margin-bottom: 30px;
            h1{font-size: 45px;}
        }
    }

    .page3_form{width: 100%;}


    // page 3 block 4
    .page3_block_4{padding: 50px 0px;
        .mbox{min-height: auto;}
        .title{padding-top: 20px;margin-bottom: 30px;font-size: 39px;
            h2{font-size: 39px;}
        }

        .page3_description{width: 100%;margin-bottom: 20px;
            li{margin-bottom: 10px;
            }
        }
    }

    // p2b3
    .p2b3{padding: 50px 0px;
        .mbox{min-height: auto;}
        .title{margin:20px 0px 30px;font-size: 39px;
            h2{font-size: 39px;}
        }
        .item-wrap{flex-wrap:wrap;flex-direction:column;
            .item-icon{position: relative;transform: none;left: auto;bottom:auto;margin:20px 0px;}
        }
    }

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    // index page block 1
    .index_block_1{
        .index_block_1_slider{
            .item{min-height: 600px;
                .item-tile{
                    h2{font-size: 42px;}
                }
            }
        }
        .slick-dots{bottom: 40px;}
    }

    // index block 2
    .index_block_2{
        .mbox{
            .title{font-size: 35px;
                h1{font-size: 35px;}
            }
        }
    }

    // page 3 block 1
    .page3_block_1{padding: 60px 0px;
        .mbox{flex-direction:column;min-height: auto;}
        .title{width: 100%;margin-bottom: 30px;
            h1{font-size: 30px;}
        }
    }

    .page3_form{width: 100%;
        .page3_form_wrap{padding: 15px 0px 0px;}
        .contact-form,.contact-form-next{
            input,button[type=submit]{width: 260px;}
        }
        .contact-form-title{font-size: 25px;}
    }

    // page 3 block 4
    .page3_block_4{
        .page3_description{}
        .title{
            h2{font-size: 28px;}
        }

        .page3_description{
            li{padding: 22px 25px;min-height: 30px;
                p{font-size: 16px;}
            }
        }
    }
}
@media screen and (max-width: 479px){
        // index page block 1
    .index_block_1{
        .index_block_1_slider{
            .item{min-height: 530px;
                .item-tile{
                    h2{font-size: 30px;}
                }
            }
        }
        .slider-arrow{display: none;}
        .slick-dots{justify-content: center;}
    }

    // index block 2
    .index_block_2{
        .mbox{padding: 45px 0px 50px;
            .title{font-size: 30px;padding: 0 5px;
                h1{font-size: 30px;}
            }
        }
    }

    // page 3 block 1
    .page3_block_1{
        .title{padding-top: 20px;}
    }

    // p2b3
    .p2b3{padding: 40px 0px;
        .mbox{min-height: auto;}
        .title{margin:20px 0px 30px;font-size: 24px;
            h2{font-size: 24px;}
        }
        .item-wrap{flex-wrap:wrap;flex-direction:column;
            .item{
                input{height: 74px;}
            }
            .item-icon{position: relative;transform: none;left: auto;bottom:auto;margin:20px 0px;}
        }
    }
}
@media screen and (max-width: 320px){

}