@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1220px){
    /*p5b2*/
    .p5b2{
        .info-map{ right:auto; left: 48px;}
    }
    /*END p5b2*/
}
@media screen and (max-width: 1180px){
    /*heder*/
    header{
        nav{
            a{ padding: 28px 12px; }
        }
    }
    /*END heder*/
    /*footer*/
        footer{
            nav{
                a{ padding: 28px 12px; }
            }
        }
    /*END footer*/
}
@media screen and (max-width: 1024px){
    /*heder*/
    header{
        .butter-wrap{ display: block;}
        nav{  position: absolute; left: 0; top:145px; height: 420px; display: none; z-index:999;

            ul{ }
            li{ display: block; margin-left: 0;
                a{padding:20px 0;
                    &:before{ display: none;}
                    span{ display: block; width: 100%;
                        &:before{ left: 0;}
                    }
                }
            }

        }
    }
    /*END heder*/
    /*footer*/
        footer{
            .butter-wrap-foot{ display: block;}
            nav{  position: absolute; left: 0; bottom:145px; height: 420px; display: none; z-index:999;

                ul{ }
                li{ display: block; margin-left: 0;
                    a{padding:20px 0;
                        &:before{ display: none;}
                        span{ display: block; width: 100%;
                            &:before{ left: 0;}
                        }
                    }
                }

            }
        }
    /*END footer*/
    /*p5b1*/
        .p5b1{ border-top:1px solid #9b1915;}
    /*END p5b1*/
}
@media screen and (max-width: 992px){

    /*heder*/
        header{
            .top-head{
                .center{ display: none;}
            }
            .mobile-text{ display: block;}
            .butter-wrap{  top: 76px; }
            nav{ top: 116px;}
        }
    /*END heder*/
    /*p2b4*/
    .p2b4{
        .items-wrap { flex-wrap: wrap;
            ul{ display: none;}

        }
    }
    /*END p2b4*/

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    /*heder*/
        header{
            .top-head{ display: block; height:auto;
                .left{ display: block; width: 100%;}
                .right{ display: block; width: 100%; text-align: center;}
            }
            .mobile-text{ display: none;}
            .butter-wrap{ top: 97px; }
            nav{ top: 136px;}
        }
    /*END heder*/
    /*footer*/
        footer{
            .top-head{ display: block; height:auto;
                .left{ display: block; width: 100%;}
                .right{ display: block; width: 100%; text-align: center;    padding: 3px 3px 25px 0;}
            }
            .butter-wrap-foot{ top: -16px;}
            nav{bottom: 226px;}
        }
    /*END footer*/
    /*index-map*/
    .index-map{
        .title-map-wrap{ padding: 0;}
        .title-map{font: 800 23px/32px 'MetaPro'; border-radius: 0; min-height: 85px; height: auto;}
    }
    /*END index-map*/
    /*p2b1*/
        .p2b1,
        .p3b3,
        .p2b4,
        .p3b2{
            .title{  font: 800 18px/33px 'MetaPro';}
        }
    /*END p3b2*/
    /*p5b2*/
    .p5b2{ height: 100vh;
        .info-map { left: 0; border-radius: 0; max-width: none; top: 40px; padding: 10px; min-height: 1px;
            .title-map { margin: 0; padding: 0; }
            td:first-child { padding-left: 0; width: 122px; }
        }
    }
    /*END p5b2*/

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}