<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <nav>

        <ul class="navigation">
            <li class="active"><a href="#"><span>Главная</span></a></li>
            <li></li>
            <li><a href="#"><span>Ремонт при ДТП</span></a></li>
            <li></li>
            <li><a href="#"><span>Выкуп страховых дел</span></a></li>
            <li></li>
            <li><a href="#"><span>Независимая экспертиза</span></a></li>
            <li></li>
            <li><a href="#"><span>Отзывы</span></a></li>
            <li></li>
            <li><a href="#"><span>О компании</span></a></li>

        </ul>

    </nav>
    <div class="butter-wrap-foot">

        <div class="butter-foot">
            <p></p>
            <p></p>
            <p></p>
        </div>

    </div>
    <div class="mbox">
        <div class="top-head">
            <div class="left item">
                <div class="img"><img src="images/logo.png" alt=""></div>
                <div class="txt">
                    <p>Московская Общественная
                        Организация по защите
                        прав потребителей</p>
                </div>
            </div>

            <div class="right item">
                <p><a href="tel:8(800)7773236">8-800-777-32-36</a></p>
                <p>Звонок по РФ бесплатный</p>
            </div>
        </div>
    </div>
    <div class="copyright">Все права защищены. © 2016 SHEEP.FISH</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
