<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="top-head">
            <div class="left item">
                <div class="img"><img src="images/logo.png" alt=""></div>
                <div class="txt">
                    <p>Московская Общественная
                        Организация по защите
                        прав потребителей</p>
                </div>
            </div>
            <div class="center item">
                <div class="txt tleft">
                    <p>Работаем</p>
                    <p>с <b>2000</b> года</p>
                </div>
                <div class="txt tright">
                    <p>Более</p>
                    <p><b>500 000</b> руб.</p>
                    <p></p>выплачено</p>
                </div>
            </div>
            <div class="right item">
                <p><a href="tel:8(800)7773236">8-800-777-32-36</a></p>
                <p>Звонок по РФ бесплатный</p>
            </div>
        </div>

    </div>
    <nav>
        <div class="mbox">
            <ul class="navigation">
                <li><a href="#"><span>Главная</span></a></li>
                <li></li>
                <li><a href="#"><span>Ремонт при ДТП</span></a></li>
                <li></li>
                <li><a href="#"><span>Выкуп страховых дел</span></a></li>
                <li></li>
                <li><a href="#"><span>Независимая экспертиза</span></a></li>
                <li></li>
                <li><a href="#"><span>Отзывы</span></a></li>
                <li></li>
                <li><a href="#"><span>О компании</span></a></li>

            </ul>
        </div>
    </nav>
</header>
<!-- /HEADER -->

