<div class="index_block_1">
    <div class="index_block_1_slider">
            <div class="item" style="background: url(images/index_block_1_slider-1.jpg) center center no-repeat;">
                <div class="item-tile">
                    <h2>
                        Страховая занизила выплаты
                        и ли отказала по КАСКО/ОСАГО?
                    </h2>
                </div>
            </div>
            <div class="item" style="background: url(images/index_block_1_slider-2.jpg) center center no-repeat;">
                <div class="item-tile">
                    <h2>
                        Страховая занизила выплаты
                        и ли отказала по КАСКО/ОСАГО?
                    </h2>
                </div>
            </div>
            <div class="item" style="background: url(images/index_block_1_slider-1.jpg) center center no-repeat;">
                <div class="item-tile">
                    <h2>
                        Страховая занизила выплаты
                        и ли отказала по КАСКО/ОСАГО?
                    </h2>
                </div>
            </div>
    </div>
</div>