<div class="index_block_1">
    <div class="index_block_1_slider">
        <div class="item" style="background-image: url(images/index_block_1_slider-1.jpg);">
            <div class="item-tile">
                <h2>
                    Страховая занизила выплаты
                    и ли отказала по КАСКО/ОСАГО?
                </h2>
            </div>
        </div>
        <div class="item" style="background-image: url(images/index_block_1_slider-2.jpg);">
            <div class="item-tile">
                <h2>
                    Страховая занизила выплаты
                    и ли отказала по КАСКО/ОСАГО?2
                </h2>
            </div>
        </div>
        <div class="item" style="background-image: url(images/index_block_1_slider-1.jpg);">
            <div class="item-tile">
                <h2>
                    Страховая занизила выплаты
                    и ли отказала по КАСКО/ОСАГО?3
                </h2>
            </div>
        </div>
    </div>
    <div class="arrow-holder slider-arrow">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>