<div class="index_block_2">
    <div class="mbox">
        <div class="title">
            <h1><span>Бесплатная консультация</span> специалистов по любому вопросу связанному с ДТП</h1>
        </div>
        <div class="index_block_2_form">
            <form name="" class="contact-form">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="tel" name="contact_tel" value="" required="required" placeholder="Ваш номер телефона" class="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <button type="submit" class="contact-submit">
                            <span>Получить консультацию</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>