<section class="p2b1" id="p2b1">
    <div class="mbox">
        <div class="title">
            <h2>Вы получите деньги по страховке
                в течение <b>5 дней</b></h2>
        </div>
    </div>
    <div class="content">
        <div class="mbox">
            <div class="items-wrap">
                <div class="item">
                    <div class="img"><img src="images/p2b1i1.png" alt=""></div>
                    <div class="txt">
                        <p>Без судебных разбирательств
                            и трат времени</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/p2b1i2.png" alt=""></div>
                    <div class="txt">
                        <p>Платим до 200% больше
                            страховых компаний</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/p2b1i3.png" alt=""></div>
                    <div class="txt">
                        <p>Оценочная экспертиза
                            за наш счет
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <a href="#" class="scroll-from">Получить консультацию</a>
        </div>
    </div>

</section>