<section class="p2b3">
    <div class="mbox">
        <div class="title">
            <h2>Калькулятор выплат по страховке</h2>
        </div>
        <div class="item-wrap">
            <div class="item first-item">
                <p>Введите сумму которую вам пообещала страховая</p>
                <input type="number" value="50000" id="first_input">
            </div>
            <div class="item-icon"><img src="images/p2b3-center.png" alt=""></div>
            <div class="item last-item">
                <p>А столько заплатим мы вам</p>
                <input type="number" value="58000" id="last_input">
            </div>
        </div>
    </div>
</section>