<section class="p2b4" id="p2b4">
    <div class="mbox">
        <div class="title">
            <h2>Как происходит выплата денег</h2>
        </div>
        <div class="items-wrap">
            <div class="item">
                <div class="img"><img src="images/p2b4i1.png" alt=""></div>
                <div class="txt" data-digit="01"><p>Позвоните в нашу компанию
                    и вышлите фото
                    поврежденного автомобиля.</p></div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="item">
                <div class="img"><img src="images/p2b4i2.png" alt=""></div>
                <div class="txt" data-digit="02"><p>Мы осматриваем транспорт,
                    оцениваем причиненный ущерб
                    и выдаем заключение.</p></div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="item">
                <div class="img"><img src="images/p2b4i3.png" alt=""></div>
                <div class="txt" data-digit="03"><p>Вы получаете деньги
                    и отправляете
                    в ремонт свою машину!</p></div>
            </div>
        </div>
    </div>
</section>