<section class="p3b2" id="p3b2">
    <div class="mbox">
        <div class="title">
            <h2>Как происходит независимая оценка авто</h2>
        </div>
        <div class="items-wrap">
            <div class="item">
                <div class="img"><img src="images/p3b2i1.png" alt=""></div>
                <div class="txt">
                    <p>Мы проводим экспертизу
                        ущерба вашего авто</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/p3b2i2.png" alt=""></div>
                <div class="txt">
                    <p>Выдаем вам заключение
                        о стоимости понесенного ущерба,
                        с которым можно идти в суд</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/p3b2i3.png" alt=""></div>
                <div class="txt">
                    <p>Благодаря официальному документу
                        страховые компании не смогут
                        занизить сумму выплат</p>
                </div>
            </div>
        </div>
    </div>
</section>