<section class="p3b3" id="p3b3">
    <div class="mbox">
        <div class="title">
            <h2>Так же вы можете обратиться к нам,
                и мы решим все вопросы за вас</h2>
        </div>
        <div class="items-wrap">
            <div class="item">
                <div class="img"><img src="images/p3b3i1.png" alt=""></div>
                <div class="txt">
                    <p>Подаем документы в суд
                        и судимся за вас</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/p3b3i2.png" alt=""></div>
                <div class="txt">
                    <p>Выкупаем страховые дела</p>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/p3b3i3.png" alt=""></div>
                <div class="txt">
                    <p>Оказываем полное сопровождение
                        при ДТП</p>
                </div>
            </div>
        </div>
        <div class="button-wrap"><a href="#">Получить консультацию</a></div>
    </div>
</section>