<section class="p5b1" id="p5b1">
    <div class="mbox">
        <div class="title">
            <h2>О компании</h2>
            <p>Московская Общественная Организация по защите прав потребителей</p>
        </div>
    </div>
    <div class="subtitle">
        <div class="mbox">
            <h4>Мы предлагаем</h4>
        </div>
    </div>
    <div class="mbox txt">
        <ol>
            <li>Выкуп страховых дел по КАСКО и ОСАГО.</li>
            <li>Проведение оценочной экспертизы.</li>
            <li>Выкуп автомобиля после ДТП.</li>
            <li>Юридическое сопровождение после аварии.</li>
        </ol>
        <p>Страховые дела выкупаются на любой стадии! Просто позвоните в нашу компанию, расскажите о своей проблеме (страховая компания заплатила слишком мало или вовсе отказалась платить) и Вы сможете получить деньги еще до судебного разбирательства. Не нужно тратить время на походы по судам и поиски адвоката, ждать, когда заплатят и откладывать ремонт машины. Один звонок и мы решим эту проблему. </p>

        <p>Независимая оценочная экспертиза – главный козырь в любых спорах со страховой компанией! Мы работаем даже с повреждениями, возникшими не в результате ДТП (стихийные бедствия или форс-мажор). С нашей помощью страховщику не удастся занизить размер выплаты. По итогам экспертизы мы выдаем официальный документ, который можно представить в суде.</p>

        <p>Выкуп автомобиля после аварии производится за один день! Просто позвоните нам, расскажите о повреждениях машины или вышлите фото повреждений, подпишите договор и получите деньги. Эвакуация автомобиля, оценочная экспертиза и услуги нотариуса – все это за наш счет! Нам ничего платить не нужно, это мы заплатим за Вашу машину. Мы предлагаем лучшие цены на авто и самые выгодные условия сделки.</p>

        <p>Юридическое сопровождение даже при небольшом ДТП может обернуться серьезной выгодой! Виновник не сумеет избежать наказания, страховая компания заплатит в два раза больше, чем обычно, а Вы сможете быстрее отремонтировать машину. Мы поможем сохранить водительское удостоверение и избежать огромных штрафов. Можете положиться на опыт и умения наших юристов!</p>
    </div>
    <div class="subtitle">
        <div class="mbox">
            <h4>Почему выбирают нас?</h4>
        </div>
    </div>
    <div class="mbox txt">
        <ul>
           <li>- Удобство сотрудничества и полная прозрачность всех процедур.</li>
            <li>- Выгодные цены, как при выкупе автомобилей, так и при оказании услуг.</li>
            <li>- Квалифицированные специалисты.</li>
            <li>- Максимальный перечень возможных услуг.</li>
            <li>- Выездные специалисты и оформление документов в одном месте.</li>
            <li>- Экономия времени, благодаря отлаженной схеме взаимодействия
            клиентом.</li>
            <li>- Мы работаем в удобное для Вас время!</li>
        </ul>
        <p>В штате нашей компании более 80 сотрудников узкой специализации. Офисы находятся в большинстве крупных городов страны. Мы гарантируем высокое качество оказываемых услуг и стремимся к новым вершинам.</p>

        <p>Каждый сотрудник компании несет личную ответственность за оказываемые услуги, а потому выполняет работу с большей отдачей. Все, что Вам может потребоваться для решения вопросов со страховой компанией, реализации автомобиля, не подлежащего восстановлению или защиты интересов в суде, есть у нас! Мы не перестаем развиваться. Позвоните прямо сейчас по одному из телефонов, чтобы обрести надежного партнера и опору в сложных ситуациях.</p>
    </div>
</section>