<section class="p5b2" id="p5b2">
    <div id="map"></div>

    <div class="info-map">
        <div class="title-map">
            <h5>Контакты</h5>
        </div>
        <table>
            <tr>
                <td>Адрес:</td>
                <td>г. Москва, Мельницкий пер. дом 1</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>8 800 777 32 36</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>info@moo-auto.ru</td>
            </tr>
            <tr>
                <td>График работы:</td>
                <td>Пн.-Пт. 9.00 - 20.00</td>
            </tr>
        </table>
    </div>
</section>